body {
	font-family: 'HelveticaNeue-Light';
}

ul {
	padding: 0px;
	margin: 20px 0px 20px 20px;
}

li {
	margin-bottom: 20px;
}

.highlight { 
    font-weight:bold;
}

/*
	Watering Schedule
 */
.dayOfWeekCell { width:50px; text-align:right;  }
.lastDigitCell { width:200px; text-align:left;  }
.evenRow {background-color: #e5e5e5; }
th { font-weight:bold; }
table {margin-left: 20px; margin-right:20px; }